html, body {
    margin: 0;
    padding: 0;
  }
  canvas {
    display: block;
  }

  #image {
    position: absolute;
    top: 10px;
    left: 100px;
    z-index: 2;
  }

  p {
    position: absolute;
    top: 20px;
    left: 100px;
    z-index: 3;
  }

  canvas {
    position: relative;
    width: 100vw !important;
    height: 100vw !important;
  }